# Data Science Tools and Ecosystem

## Author: 
Shishir Poreddy

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__ 
* List popular languages for Data Science 
* List popular libraries for Data Science 
* Table of popular tools for Data Science 
* Examples of simple arithmetic expressions

Some of the popular languages that Data Scientists use are: 
1. Python 
2. SQL 
3. R

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools | 
|--------------------|
| RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
(3*4)+5
#This is a simple arithmetic expression 
#to multiply then add integers

17

In [14]:
MinHr = 60
hours = 200/MinHr
f'There are roughly {hours}'
#This will convert 200 minutes to hours by diving by 60.

'There are roughly 3.3333333333333335'